 /* div {
    border: 5px solid red;
}    */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    max-width: 100%; 
    height: 100%; 

}





ul {
    display:flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 15px; 
    text-align: right;
    max-width: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0; 
    color: white;
    text-transform: none;
    
}

li{
    margin: auto;
    font-size: 13px;
    
}

li > a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.socials {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.linkedin {
    width: 50px;
}

.github {
    width: 30px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 11px;
}

#nav {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding-right: 15px;
    font-size: 40px;
    text-decoration: none;


}

.home {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
    font-size: 20px; 
    margin: 0px;
    
}

.home > h1 {
    margin: 10px 0px 10px 0px;
}

.home > h2{
    margin: 10px 0px 10px 0px;
    color: white;

}

.home > img{
    border-radius: 50%;
    /* overflow: hidden; */
    margin: 20px 0 20px 0px;
    width: 80%;
    
}  

.topofpage {
    background-color: #77a8a8;

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

#introduction {
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    padding-top: 0px; 
    background-color: #d9ecd0;
    margin: 0;

}

#introduction > h1 {
    margin: 20px 0px 0px 0px;
}

#introduction > h2 {
    margin-bottom: 0;
}




#skills {
    color: white;
    background-color: #b9b0b0;
    margin: 0;
    text-align: center;
    padding: 0px;

}

#skills i{
    /* width: 150px;
    margin: 15px;
    border-radius: 25%; */
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 25px;
    height: 25px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%;

    
    

}

#skills h1{
    text-align: center;
    margin: 0;

}



#allprojects {
    text-align: center;
    background-color: #b9b0b0;
    color: white;
    display: grid;

} 

#allprojects > h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.project-list > img {
    width: 70%;
    border-radius: 15%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.project-list > h2 {
    margin: 5px;
    font-size: 40px;
}
.project-list > p {
    margin: 5px;
    font-size: 30px;
}















 #contact {
    text-align: center;
    background-color: #d9ecd0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;

} 

#contact > h2 {
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

}

/* #contactform{
    margin-top: 50px;
    transition: all 4s ease-in-out;

} */

 input.form-control, textarea.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b9b0b0;
    color: #b9b0b0;
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;

} 

input{
    height: 45px;
    width: 100%;

}

button {
    background: white;
    border-color: transparent;
    color: #b9b0b0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactform > .googleforms {
    display: none;
}



form .submit:hover{
    background-color: #b9b0b0;
    cursor: pointer;
}

  
  /* Facebook */
  .fa-linkedin, .fa-github  {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 25px;
    height: 25px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%;

}


  
 
/* Media Queriesss */

