  /* div {
    border: 5px solid red;
}       */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    /* margin: 0; */
    padding: 0;
    display: flex;
    flex-direction: column;  
    max-width: 100%;  
    height: 100%; 
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

#nav {
    text-align: center;
    padding: 0px;
    
}



ul {
    display:flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding:0px; 
    text-align: right;
    max-width: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0; 
    color: white;
    text-transform: none;
    display: inline;
}

li{
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    padding: 0px;
    font-size: 30px;
    font-size: 40px;
    text-decoration: none;
    display: inline;
    
}

li > a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.socials {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.linkedin {
    width: 50px;
}

.github {
    width: 30px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 11px;
}

#nav {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding-right: 15px;
    font-size: 40px;
    text-decoration: none;


}

.home {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
    font-size: 20px; 
    margin: 0px;
    
}

.home > h1 {
    margin: 10px 0px 10px 0px;
}

.home > h2{
    margin: 10px 0px 10px 0px;
    color: white;

}

.mypicture > img{
    border-radius: 50%;
    /* overflow: hidden; */
    margin: 20px 0 20px 0px;
    width: 80%;
    
}  

.topofpage {
    background-color: #77a8a8;

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

#introduction {
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    padding: 0px;
    background-color: #d9ecd0;
    margin: 0px;

}

#introduction > h1 {
    margin: 20px 0px 0px 0px;
}

#introduction > h2 {
    margin-bottom: 0;
}




#skills {
    color: white;
    background-color: #b9b0b0;
    margin: 0;
    text-align: center;
    padding: 0px;

}

#skills i{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 25px;
    height: 25px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%; 

    
    

}

#skills h1{
    text-align: center;
    margin: 0;

}



#allprojects {
    text-align: center;
    background-color: #b9b0b0; 
    color: white;
    display: grid;
    display: inline-block; 
    /* display: flex;
    flex-direction: column; */
    

} 

#allprojects > h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.project-list > img {
    width: 70%;
    border-radius: 15%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.project-list > h2 {
    margin: 5px;
    font-size: 40px;
}
.project-list > p {
    margin: 5px;
    font-size: 30px;
}


.projectstitle {
    width: 100%;

}

 #contact {
    text-align: center;
    background-color: #d9ecd0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%; 

} 

#contact > h2 {
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

}

/* #contactform{
    margin-top: 50px;
    transition: all 4s ease-in-out;

} */

 input.form-control, textarea.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b9b0b0;
    color: #b9b0b0;
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;
} 

input{
    height: 45px;
    width: 100%;

}

button {
    background: white;
    border-color: transparent;
    color: #b9b0b0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}




form .submit:hover{
    background-color: #b9b0b0;
    cursor: pointer;
}

  

  .fa-linkedin, .fa-github  {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 25px;
    height: 25px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%;

}






.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #77a8a8;
    color: white;
  }
 
  div#nav {
      display: none;
  }

  
 
/* -----------------------Media Queriesss------------------ */
@media only screen and (min-width: 980px) {
    /* body {
        padding: 15px 15px 15px 15px;
    } */
    
    .home {
        display: grid;
    }

    li > a {
        font-size: 40px;
        margin: 30px;
    }

    ul{ 
        padding: 30px;
    }

    .topnav {
        display: none;
    }

    .name {
        grid-column: 1;
         position: relative; 
        justify-content: space-between;  
        align-items: center;  
        font-size: 50px;
        margin: 0px;
        padding: 0px;
        position: relative;
        top: 5px;
    } 

    .name > h2 {
        margin: 0;
    }

    .mypicture {
        grid-column: 2;
    }
    
    .home > h1 {
        font-size: 70px;
    }

    .topofpage > h2 {
        display: hidden;
    }

    .home > img {
        width: 20%;
    }

    #introduction > h2 {
        padding: 15px 30px 40px 30px;
        font-size: 50px;
        line-height: 1.6;

    }

    #introduction > h1 {
        padding: 30px;
        font-size: 50px;
        font-weight: bold;
    }

    .secondgrid {
        display: grid;
    }

    .introduction {
        display: grid;
        grid-column: 1;
    }

    #skills {
        border-top: 5px solid white;
    }

    #skills > h1 {
        font-size: 100px;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    
    #skills i {
        font-size: 150px; 
        margin: 30px;
        
        width: 150px;
        height: 150px;
    }

    #allprojects {
        text-align: center;
        background-color: #b9b0b0;
        color: white;
        display: flex;
    
    }

        .project-list > img {
            width: 70%; 
            height: 200px;
            
            border-radius: 15%;
            margin-bottom: 20px;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-top: 30px; 
            text-align: center;
        }
        
        .project-list > h2 {
            margin: 5px;
            font-size: 30px;
            text-align: center;
        }
        .project-list > p {
            margin: 5px;
            font-size: 30px;
            text-align: center;
        }
    

    .projectstitle {
        font-size: 100px;
        text-align: center;
        color: white;
        margin: 0;
        border-top: 5px solid white;
        background-color: #b9b0b0;
        
    }

    

    div.project-list {
        width: 25%;
        
    }

    .googleform {
        display: block;
        
    }

    /* #contact > div.contactform{
        display: none;
    } */

    #contact > div.contactform {
        width: 100%;
        text-align: center;

    }

    #contact > h2 {
        font-size: 75px;
        text-transform: lowercase;
    }

}