  /* div {
    border: 5px solid red;
}       */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    /* margin: 0; */
    padding: 0;
    display: flex;
    flex-direction: column;  
    max-width: 100%;  
    height: 100%; 
    width: 100%;
    font-family: 'Playfair Display', serif;
    

}

#nav {
    text-align: center;
    padding: 0px;
    
}



ul {
    display:flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding:0px; 
    text-align: right;
    max-width: 100%;
    margin: 0; 
    color: white;
    text-transform: none;
    display: inline;
}

li{
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    padding: 0px;
    font-size: 10px;
    text-decoration: none;
    display: inline;
    
}

li > a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}



.linkedin {
    width: 50px;
}

.github {
    width: 30px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 11px;
}

#nav {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding-right: 15px;
    font-size: 40px;
    text-decoration: none;


}

.home {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
    font-size: 20px; 
    margin: 0px;
    
}



.name > h1 {
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0px;
}

.name > h2 {
    
    font-size: 40px;
    
}

.mypicture > img{
    border-radius: 50%;
    margin: 20px 0 20px 0px;
    width: 80%;
    
}  

.topofpage {
    background-image: url("https://cdn.abcotvs.com/dip/images/6186471_051520-wtvd-4pm-no-sunflowers-at-dix-park-img.jpg?w=1600");
    width: 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* position: absolute; */
}

#introduction {
    color: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: grid;

}

h1.intro {
    margin: 20px 0px 0px 0px;
    font-weight: bold;
    color: #FBA914;

}

#introduction > h2 {
    margin-bottom: 0;
    color: #DF6D26;
    line-height: 1.6;
    font-size: x-large;
    padding: 10px 10px 40px 20px
}




#skills {
    color: white;
    margin: 0;
    text-align: center;
    padding: 0px;
}

#skills i{
    background-color: #DF6D26;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%; 

    
    

}

#skills h1{
    text-align: center;
    margin: 0;

}

.resume > a {
    font-family: Apple Chancery;
    color: #DF6D26;
    text-decoration: none;
}

.projects {
    background-color: white;
    text-align: center;
    


}

#allprojects {
    text-align: center;
    background-color: white; 
    position: relative;
    /* display: grid;
    display: inline-block;  */
    /* display: flex;
    flex-direction: column; */
    

} 

h2.project-header {
    color: #DF6D26;
}

p {
    color: #DF6D26;
}

#allprojects > h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.project-list > img {
    width: 70%;
    border-radius: 15%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: auto;
}

.project-list > h2 {
    margin: 5px;
    font-size: 40px;
}
.project-list > p {
    margin: 5px;
    font-size: 30px;
}

.project-list > a {
    color: #DF6D26;
    font-size: 30px;
}


h1.projectstitle {
    width: 100%;
    background-image: url("https://cdn.abcotvs.com/dip/images/6186471_051520-wtvd-4pm-no-sunflowers-at-dix-park-img.jpg?w=1600");
    font-size: 40px;
    display: block;
    
}

.resume {
    text-align: center;
    color: #FBB22D;
    
}



.sunflowerbg > img {
    width: 100%;
    height: 100%;
}

.form-elements {
    text-align: center;
    border: none;
}

fieldset.pure-group {
    border: none;
    text-align: center;
}

form.gform.pure-form.pure-form-stacked {
    
    display: inline-block;
}

 #contact {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #DF6D26

} 

#contact > h2 {
    margin: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);

}

label {
    color: white;
}

button {
    background-color: white;
}

/* #contactform{
    margin-top: 50px;
    transition: all 4s ease-in-out;

} */

 input.form-control, textarea.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #b9b0b0;
    color: #b9b0b0;
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;
} 

input{
    height: 45px;
    width: 100%;

}

button {
    background: white;
    border-color: transparent;
    color: #DF6D26;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}




form .submit:hover{
    background-color: #b9b0b0;
    cursor: pointer;
}

div.socials {
    background-color: #DF6D26;
    border-top: white;
    text-align: center;
    
}

  .fa-linkedin, .fa-github  {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 25px;
    height: 25px;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    border-radius: 50%;

}






.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  /* .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  } */
  
  /* .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  } */
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #77a8a8;
    color: white;
  }
 
  /* div#nav {
      display: none;
  } */

  


  #carousel-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-image: url("https://storage.needpix.com/rsynced_images/sunflower-2978493_1280.jpg");
    padding-bottom: 100px;
    padding-left: 100px;
    
}

.carousel-buttons {
    text-align: center;
    align-self: center;
    justify-self: center;
    background-color: var(--highlight-color);
    color:black;
    border-radius: 50%;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
}
.fa-chevron-left, .fa-chevron-right {
    color: var(--ultra-dark-color);
    vertical-align: top;
}
.fa-chevron-left {
    margin-left: -0.75vw;
}
.fa-chevron-right {
    margin-right: -0.75vw;
}
#projects-container {
    text-align: center;
    align-items: center;
    
}
.project-element {
    display: none;
    background-color: var(--text-background-color);
    margin: 10px;
    padding: 10px;
    
}
.project-element:first-of-type {
    display: block;
}
.project-element img {
    margin: auto;
    display: block;
    padding: 10px;
    max-width: 100%;
}
.project-card {
    margin-bottom: 20px;
}
.project-card > h4 {
    font-size: 10px;
}

.project-card > p {
    margin: 10px 0 40px 0;
}

.project-card > a {
    background-color: #FBB22D;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.project-card > a {
    font-family: "Source Sans Pro",Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 23px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600; 
    display: block;
      
}  

a.button4{
    display:inline-block;
    padding:0.3em 1.2em;
    padding: 20px;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:200;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size: 40px;
}

a.button4:hover{
    border-color: rgba(255,255,255,1);
    }
@media all and (max-width:30em){
a.button4{
    display:block;
    margin:0.2em auto;
}
    }







 
/* -----------------------Media Queriesss------------------ */
@media only screen and (min-width: 980px) {
    /* body {
        padding: 15px 15px 15px 15px;
    } */
    
    .home {
        display: grid;
    } 

    li > a {
        font-size: 30px;
        margin: 30px;
    }

    ul{ 
        padding: 30px;
    }

    /* .topnav {
        display: none;
    }

    div#nav {
        display: block;
    } */

    .name {
        grid-column: 1;
         position: relative; 
        justify-content: space-between;  
        align-items: center;  
        font-size: 50px;
        margin: 0px;
        padding: 0px;
        position: relative;
        top: 5px;
    } 

    .name > h2 {
        margin: 0;
    }

    .mypicture {
        grid-column: 2;
    }
    
    .home > h1 {
        font-size: 70px;
    }

    /* .topofpage > h2 {
        display: hidden;
    } */

    .home > img {
        width: 20%;
    }

    

    #introduction > h1 {
        padding: 0px;
        font-size: 50px;
        font-weight: bold;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    /* .secondgrid {
        display: block;
    }   */

    #introduction {
        display: grid;
    }

    #skills {
        border-top: 5px solid white;
        padding: 30px 20px 20px 20px
    }

    a.button4{
        display:inline-block;
        padding:0.3em 1.2em;
        padding: 20px;
        margin:0 0.1em 0.1em 0;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
        font-size: 25px;
    }
    
    a.button4:hover{
        border-color: rgba(255,255,255,1);
        }
@media all and (max-width:30em){
    a.button4{
        display:block;
        margin:0.2em auto;
    }
        }
    
    
    #skills i {
        font-size: 90px; 
        margin: 20px 10px 10px 10px;
        width: 80px;
        height: 80px;
    }

    #allprojects {
        text-align: center;
        background-color: white;
        color: black;
        display: flex;
    
    }

        .project-list > img {
            width: 70%; 
            height: 200px;
            
            border-radius: 15%;
            margin-bottom: 20px;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-top: 30px; 
            text-align: center;
        }
        
        .project-list > h2 {
            margin: 5px;
            font-size: 30px;
            text-align: center;
        }
        .project-list > p {
            margin: 5px;
            font-size: 30px;
            text-align: center;
        }
    

    .projectstitle {
        font-size: 100px;
        text-align: center;
        color: white;
        margin: 0;
        border-top: 5px solid white;
        background-color: #b9b0b0;
        
    }

    

    div.project-list {
        width: 25%;
        
    }

    .googleform {
        display: block;
        
    }

    

    #contact > div.contactform {
        width: 100%;
        text-align: center;

    }

    #contact > h2 {
        font-size: 30px;
        text-transform: uppercase;
    }








#carousel-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-repeat: no-repeat;
    background-size: 100%;
}


.carousel-buttons {
    text-align: center;
    align-self: center;
    /* justify-content: center; */
    justify-self: center;
    background-color: var(--highlight-color);
    color:black;
    border-radius: 50%;
    font-size: 5vw;
    height: 5vw;
    width: 5vw;
    display: inline-block;
}
.fa-chevron-left, .fa-chevron-right {
    color: var(--ultra-dark-color);
    vertical-align: top;
}
.fa-chevron-left {
    margin-left: -0.75vw;
}
.fa-chevron-right {
    margin-right: -0.75vw;
}
#projects-container {
    text-align: center;
    align-items: center;
}
.project-element {
    display: none;
    background-color: var(--text-background-color);
    margin: 10px;
    padding: 10px;
}
.project-element:first-of-type {
    display: block;
}
.project-element > img {
    width: 800px;
    margin: auto;
    display: block;
    padding: 10px;
}
.project-card {
    margin-bottom: 20px;
}
.project-card > h4 {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    color: #DF6D26;

}


.project-card > p {
    margin: 20px 0 px 0px 0px;
    font-size: 25px;
}

div.socials {
    background-color: #DF6D26;
    border-top: white;
    text-align: center;
    
}

.project-card > a {
    font-family: "Source Sans Pro",Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 23px;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    display: inline;  
}  

}